@{
    ViewData["Title"] = "Register";
}
<div id="register">
    <div class="header">
        <h1>Register</h1>
    </div>
    <div class="errors">
        @{
            foreach(var error in ViewBag.errors)
            {
                //If there are any errors for a field...
                if(@error.Errors.Count > 0)
                {
                    // We show the first error for that field
                    <p>@error.Errors[0].ErrorMessage</p>
                }
            }
            <p>@ViewBag.RegEmailError</p>
        }
    </div>
        <form action="create" method="post">
            <div class="form-group">
            <label for="FirstName">First Name: </label>
            <input type="text" name="FirstName"><br>
            </div>
            <div class="form-group">
            <label for="LastName">Last Name: </label>
            <input type="text" name="LastName"><br>
            </div>
            <div class="form-group">
            <label for="Email">Email: </label>
            <input type="text" name="Email"><br>
            </div>
            <div class="form-group">
            <label for="Password">Password: </label>
            <input type="text" name="Password"><br>
            </div>
            <div class="form-group">
            <label for="PasswordConfirmation">Password Confirmation: </label>
            <input type="text" name="PasswordConfirmation"><br>
            </div>
            <button type="submit" class="btn btn-primary">Created Account</button>
        </form>
        <p>Already have an account? Go to <a href="login">Login</a></p>

</div>
